<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toon.mappers.toonMapper">

<!-- 카테고리별 상품 리스트 : 1차 분류 -->
<select id="list_1" resultType="com.toon.domain.ToonsViewVO">
select t.toonNum, t.toonName, t.cateCode, c.cateCodeRef, c.cateName, toonGenre, toonDes, toonGood, toonView, 
toonFin, toonDate, t.toonImg, t.toonThumbImg
from tbl_toon t
inner join toon_category c on t.cateCode = c.cateCode
where t.cateCode = #{cateCode} or c.cateCodeRef = #{cateCodeRef}
</select>

<!-- 카테고리별 상품 리스트 : 2차 분류 -->
<select id="list_2" resultType="com.toon.domain.ToonsViewVO">
select t.toonNum, t.toonName, t.cateCode, c.cateCodeRef, c.cateName, toonGenre, toonDes, toonGood, 
toonView, toonFin, toonDate, t.toonImg, t.toonThumbImg from tbl_toon t inner join toon_category c on t.cateCode = c.cateCode
where t.cateCode = #{cateCode}
</select>

<!-- 상품 소감(댓글) 작성 -->
<insert id="registReply">
 insert into tbl_reply (toonNum, userId, repNum, repCon)
     values (#{toonNum}, #{userId}, tbl_reply_seq.nextval, #{repCon})
</insert>

<!-- 상품 소감(댓글) 리스트 -->
<select id="replyList" resultType="com.toon.domain.ReplyListVO">
 select
r.toonNum, r.userId, r.repNum, r.repCon, r.repGood, r.repDate, m.userName
from tbl_reply r
inner join tbl_member m
 on r.userId = m.userId
 where toonNum = #{toonNum}
</select>

<!-- 상품 소감(댓글) 삭제 -->
<delete id="deleteReply">
delete tbl_reply
where repNum = #{repNum}
and userId = #{userId}
</delete>

<!-- 아이디 체크 -->
<select id="replyUserIdCheck" resultType="String">
select userId
from tbl_reply
where repNum = #{repNum}
</select>

<!-- 상품 소감(댓글) 수정 -->
<update id="modifyReply">
update tbl_reply
set
repCon = #{repCon}
where repNum = #{repNum}
and userId = #{userId}
</update>

<!-- 책갈피 -->
<insert id="addMark">
insert into tbl_mark (markNum, userId, toonNum)
values (tbl_mark_seq.nextval, #{userId}, #{toonNum})
</insert>

<!-- 책갈피 목록 -->
<select id="markList" resultType="com.toon.domain.MarkListVO">
select
row_number() over(order by c.markNum desc) as num,
c.markNum, c.userId, c.toonNum, c.addDate,
t.toonName, t.toonThumbImg
from tbl_mark c
inner join tbl_toon t
on c.toonNum = t.toonNum
where c.userId =#{userId}
</select>

<!-- 책갈피 삭제 -->
<delete id="deleteMark">
delete tbl_mark
where markNum = #{markNum}
and userId = #{userId}
</delete>


<!-- 조회수 증가 -->
<update id="addView" parameterType="int"> 
update tbl_toon set 
toonView = toonView+1 
where toonNum=#{toonNum}
</update>

<!-- 추천수 증가 -->
<update id="addGood" parameterType="int"> 
update tbl_toon set 
toonGood = toonGood+1 
where toonNum=#{toonNum}
</update>




</mapper>